.table-view .column-header,
.table-view .column-header-background .filler {
    -fx-background-color: white;
    -fx-text-fill: #FFFFFF;
    -fx-text-background-color: black;
    -fx-font-weight: bold;
}

.table-view .cell{
    -fx-cell-size: 50px;
    -fx-font-size:10px;
    -fx-alignment: center-left;
    -fx-control-inner-background: #858889;
    -fx-border-color:transparent;
    -fx-background-radius: 5 5 5 5;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-alignment: CENTER;

}
